<h1>Mostrar restaurants</h1>
<div class="cartas">
{{#if restaurants}}
{{#each restaurants}}
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="images" src="img/{{img}}">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">show more</i></span>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
                    <table>
                        <tr>
                            <th>Locality</th>
                            <th>Price index</th>
                            <th>Rating</th>
                            <th>Phone</th>
                        </tr>
                        <tr>
                            <th>{{locality}}</th>
                            <th>{{price_index}}</th>
                            <th>{{rate}}</th>
                            <th>{{phone}}</th>
                        </tr>
                    </table>
                    <button onclick="">Mas Informacion</button>
                </div>
            </div>

    {{/each}}
{{else}}
    <p>hola que tal</p>
{{/if}}
</div>